<div class="container">
    <h1>Resume</h1><hr>

    <h3>✧ Education ✧</h3><hr>
    <p>M.F.A 2003 Drawing Paiting and Printmaking California State University</p>
    <p>B.A. 1998 Drawing and Paiting California State University Los Angeles (Academic Honors)</p>
    <p>A.A. 1996 Studio Art Pasadena City College Pasadena California (Deans Honor Roll)</p>

    <hr>
    <h3>✧ Exhibitions Record ✧</h3><hr>
    <h3>✧ Solo Exhibitions & Curating ✧</h3><hr>

            <p>2015 "The Last Picture Show" Cultural Activities Center Temple Texas</p>
            <p>2014 "Hola carlos" (Curator) Centro Cultura Antiguo Colegio Jesuita Pátzcuaro Michoacán México</p>
            <p>2013 "Tres De Guadalajara" (Curator) Centro Cultura Antiguo Colegio Jesuita Pátzcuaro Michoacán México</p>
            <p>2013 "Tres del norte" (curator) Casa De La Cultura De Morelia Michoacán México</p>
            <p>2013 "Tres del norte" (curator) Centro Cultura Antiguo Colegio Jesuita Pátzcuaro Michoacán México</p>
            <p>2012 "Un poco de todo" Centro Cultura Antiguo Colegio Jesuita Pátzcuaro Michoacán México</p>
            <p>2007 "Temples" Cultural Activities Center Temple Texas</p>
            <p>2005 "Plastic Toys" Library Gallery Centras Texas College Killen Texas</p>
            <p>2003 "Boys Toys" West Gallery California State University Fullerton<p>
            <p>1998 "Recent Paitings" Coma Gallery California State University Los Angeles</p>
            <p>1997 "Post Cards From México" Coma Gallery California State University Los Angeles</p>
            <p>1992 "México lindo" Folktree Gallery Pasadena California</p>
            <p>1990 "Richard in México" Folktree Gallery Pasadena California</p>
            <p>1986 "Assemblage Paitings Gorky´s Cafe Los Angeles California</p>
            <p>1986 "Cross Walks" Folktree Gallery Pasadena California</p>
            <p>1985 "Assemblaje Paitings" Pasadena Arts Council Pasadena California</p>
            <p>1984 "Cross Section" Open Quest Institute Los Angeles California</p>
        <hr>
        <h3>✧ Selected Invitational And Juried Exhibitions ✧</h3><hr>
            <p>2006 "MAC Members Show: The Trinity River" Mckinney Avenue Contemporary Dallas Texas</p>
            <p>2006 "The Summer Show & Critic´s Choice" The Dallas Contemporary Dallas Texas</p>
            <p>2004 "Holiday Exhibition" Cultural Activities Center Temple Texas</p>
            <p>2003 "Future Expectations" East and West Galleries California State University Fullerton Juror Tyler Stallings</p>
            <p>2003 "Media Circus" Rental Gallery Grande Central Art Center Santa Ana California</p>
            <p>2002 "Development of Themes: Inside The Artistic Process" Southern California Artist Gallery Pomona California
            <p>2002 "A response to September 11 2001" Legacy Gallery Santa Ana California</p>
            <p>2002 "The gun show" Soil Gallery Seattle Washington</p>
            <p>2001 "Holiday Groovaganza" Dirt Gallery Los Angeles California</p>
            <p>2000 "The Spurgeon Experience" Spurgeon building Santa Ana California</p>
            <p>2000 "All Media 2000" Irvine Fine Arts Center Irvine California</p>
            <p>1999 "Have You Seen These Artists" GrandCentral Art Center Santa Ana California</p>
            <p>1994 "Angels On The Square" Pasadena City Hall Plaza Pasadena California</p>
            <p>1992 "Premier Exhibition" Graham Gallery Palm Springs California</p>
            <p>1992 "Artnet Mexican Exchange Exhibition" Galeria Santo Domingo Oaxaca México</p>
            <p>1991 "Paced Art" Armony Art Center Pasadena California Poster and Invitation Image</p>
            <p>1990 "Influencias De México" Galería Las Calas Centro Cultural Las Calas Guadalajara México</p>
            <p>1990 "Richard Littlefield´s Temple For Healing The Earth" Brookside Park Pasadena California</p>
            <p>1990 "A Picture Is Worth A Thousands Words" Kirkhoff Hall Gallery University of California at Los Angeles</p>
            <p>1990 "Digitals and Modules" 801 North Brand Glendale California</p>
            <p>1989 "Day Of Remembrance" Grace Cathedral San Francisco California</p>
            <p>1988 "6th Annual Orange Country Center for Contemporary Art" Santa Ana California Juror Joan Hugo</p>
            <p>1988 "Brand 18" Brand Library and Gallery Glendale California Juror William Hemmerdinger Catalog</p>
            <p>1988 "Smaller Than a Bread Box" SITE Culver City California Catalog</p>
            <p>1988 "9th Annual Paper In Particular National" Columbia College Columbia Missouri Juror Keith Crown</p>
            <p>1988 "Pattern Revival" Appalachian State University Boone North Carolina</p>
            <p>1988 "Assemblaje LA" Brand Library and Gallery Glendale California</p>
            <p>1987 "Differences" Los Angeles Theatre Center Los Angeles California</p>
            <p>1986 "Artist Against AIDS" SPARC Gallery Venice California Art Book Published</p>
            <p>1986 "San Diego Art Institute 32nd Annual Exhibition" San Diego Art Institute San Diego California Juror Charles Arnoldi Catalog</p>
            <p>1986 "A Question of Scale" Missoula Museum Missoula Montana</p>
            <p>1986 "International Art Competition New York" Metro Art New York New York Jurors Lisa Denison Ivan Karp</p>
            <p>1986 "Images 86" Bowers Museum Santa Ana California Juror Suzanne Muchnic</p>
            <p>1986 "Las Vegas National Works on Paper" Allied Arts Council Las Vegas Nevada Juror Pasa Rafat</p>
            <p>1986 "All California 1986 On a Small Scale" Laguna Museum Laguna Beach CA Juror Howard Fox</p>
            <p>1986 "Rutgers National 1985/86 Works on Paper" Rutgers University Camden New Jersey Jurors Donald Kupsit Cynthia Jaffe McCabe Catalog</p>
            <p>1985 "6th Annual Paper in Particular National" Columbia College Columbia Missouri Juror Vito Giacalone</p>
            <p>1985 "Central Coast 2nd Biennial Pacific Grove Art Center Pacific Grove California Jurors Ralph Putzker Christopher French</p>
            <p>1985 "20th Annual All Media Exhibit" Brea Civic Cultural Center Gallery Brea California Juror Kerry Brougher Catalog</p>
            <p>1984 "All California 1984" Laguna Beach Museum Laguna Beach California Juror Henry Hopkins Catalog</p>
            <p>1984 "Costa Mesa Art League 9th Annual" Costa Mesa California JurorRobert McDonald</p>
            <p>1981 "All Media 1981" Laguna Beach Museum Laguna Beach California Juror Walter Askin</p>
            <p>1980 "Juried Membership Show" Laguna Beach Museum Laguna Beach California</p>
        <hr>
        <h3>✧ Press ✧</h3>
        <hr>
            <p>Rebecca Schoenkoph "Women bleed, men pass out, mostly" OC Weekly February 28 2002</p>
            <p>Rebecca Schoenkoph "Art: Sucker Punched" OC Weekly November 15 2001</p>
            <p>Samantha Bonar "México Lindo captures all the colors of the rainbow-and then some" Pasadena Weekly May 14 1992</p>
            <p>Lizanne Fleming "Compelled To Create" Pasadena Weekly April 14 1991</p>
            <p>"Richard In México" Pasadena Star News February 25 1990</p>
            <p>"AM Magazine With Marcela" Chanel 4 Live Interview Guadalajara México June 13 1990</p>
            <p>"Influencias De México" El Enformador and El Occidental Guadalajara México June 15 1990</p>
            <p>Marthal L. Willman "Glendale Asks Itself: What is Public Art" Los Angeles Times September 4 1990</p>
            <p>Lizanne Fleming "Artists brush up on politics" Pasadena Weekly April 27 1990 "A picture worth a thousands words" Los Angeles Times Valley Edition Calendar October 14 1989</p>
            <p>Lawrence Enscoe "Assemblage LA exhibit offers mixed media, collage" Daily News Glendale Edition August 23 1988</p>
            <p>Lawrence Enscoe "Glendale show at Brand Library has 62 watercolors from 10 states" Daily News Glendale Edition December 5 1988</p>
            <p>Peter Frank "After schlepping all the way to Glendale..." LA Weekly August 8 1988 Jeff Osborne "Cultural Activivies Center to host The Last Picture Show" Temple telegram January 18 2015</p> 
        <hr>



    <div #textos id="texto" >
        <p appResaltado >
            So far ~
        </p>
    </div>
</div>
