
<article class="about">
   <img src="../../../assets/img/richardprofile.jpg" class="richardimg">
    <p>
        “Nothing satisfies me more than making art. It is similar to sex or eating in that it is great while in the process and also similar in that I do it over and over and over again. <br>
       On occasion if a few days or weeks pass by and I am a bit down it is often due to not creating art.<br>
       
       I have made thousands of compositions utilizing a wide variety of media and genre. I make art because it entertains and satisfies me.<br>
       The process engages all my parts. I like (sometimes love) looking at it and so does god, where ever she is. <br>
       Making art is the work in life that engages me more than any other.”
    </p>
</article>

<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>
