<header>

</header>

<section>
  <div class="container fondobase">
    <div class="categoriashome">
      <ul class="logoname"><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"> Richard Littlefield </a></ul>
      <ul class="logoport"> Portfolio </ul>
      <ul class="ulcategory"><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Home</a></ul>
      <ul class="ulcategory"><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Work Art</a></ul>
      <ul class="ulcategory"><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Resume</a></ul>
      <ul class="ulcategory"><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Upload Work Art (Test)</a></ul>
    </div>

    <div class="contenthome" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<footer>
  richardlittlefield &copy;
</footer>